.text-contet {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
  overflow: hidden;

  * {
    margin: 0;
  }
}

.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  p {
    text-align: center;
  }
}
