.filters {
  position: relative;
}

.scroll-content {
  position: relative;
}

app-accordion-content app-info-item {
  --padding-left: 4.5rem;
}

#actions {
  width: 90%;
  position: sticky;
  z-index: 2;
  top: 0;
  margin-inline: auto;
  padding: 0.5rem 0.5rem;
  background-color: rgb(0 0 0 / 77%);
  color: var(--background);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;

  app-checkbox {
    font-size: .8em;
  }
}

.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  p {
    text-align: center;
  }
}
