.dialog-overlay {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  pointer-events: none;
}

.dialog-overlay.active {
  pointer-events: all;
  background-color: var(--dialog-background-color);
}

.dialog {
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
  background-color: var(--background);
  border-radius: 10px;
  transform: scale(0);
  transition: all .3s;
  box-shadow: var(--box-shadow);
}

.dialog-overlay.active .dialog {
  transform: scale(1);
}
