.page {
  --page-padding-top: calc(6rem + var(--safe-top));
  --page-padding-bottom: calc(1rem + var(--safe-bottom));

  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-top: var(--page-padding-top);
  padding-bottom: var(--page-padding-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page.hide-overflow {
  --page-padding-bottom: var(--safe-bottom);

  overflow: hidden;
  height: calc(100% - var(--page-padding-top) - var(--page-padding-bottom));
}

.page-flex-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-content {
  width: 100%;
  flex: 1;
  overflow: hidden scroll;
}

.page-content-padding {
  width: calc(100% - 2rem);
  padding-inline: 1rem;
}

header {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  gap: 1rem;
}

.actions-end {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.margin-left {
  margin-left: auto !important;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

.subtitle {
  font-size: .8em;
  color: var(--text-faded);
}

.divider-1 {
  display: block;
  width: 100%;
  height: 1rem;
}

.divider-2 {
  display: block;
  width: 100%;
  height: 2rem;
}

.divider-3 {
  display: block;
  width: 100%;
  height: 3rem;
}

.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: var(--border-list-item-color);
}
