:root {
  --background: white;
  --background-contrast: rgb(26, 32, 37);
  --on-background: white;

  --primary: #F0452A;
  --primary-contrast: white;
  --primary-shade: #c32d15;
  --primary-tint: #ef604a;

  --secondary: #7b16ce;
  --secondary-contrast: white;
  --secondary-shade: #5c1398;
  --secondary-tint: #9538e1;

  --success: rgb(0, 167, 0);
  --success-contrast: white;

  --error: rgb(254, 90, 90);
  --error-contrast: black;

  --warning: yellow;
  --warning-contrast: black;

  /* TEXT */
  --font-color: black;
  --font-size: 18px;
  --font-family: "Roboto";
  --text-faded: #909090;

  /* SAFE AREA */
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);

  /* UTILS */
  --box-shadow: 2px 2px 10px #0000002a;
  --bouncy-transition: cubic-bezier(.47,1.64,.41,.8);
  --border-color: #797979;

  /* LIST */
  --border-list-item-color: #dcdcdc;

  /* BUTTONS */
  --button-hover-color: #e8e8e8;

  /* INPUTS */
  --max-input-width: 450px;
  --toggle-background-color: #efefef;

  /* DIALOGS */
  --dialog-background-color: #0000004d;
}
