:host {
  display: block;
  position: relative;
  width: 100%;
  max-height: 300px;
  margin-top: 30px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  border: var(--border);
  border-radius: 1rem;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  resize: none;
  font-size: .8em;
}

.placeholder {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  transform: translate(0, 0);
  color: var(--txt-clr-faded);
  font-size: .8em;
  transition: all .2s;
  pointer-events: none;
}

textarea:focus + .placeholder,
:host.filled .placeholder {
  opacity: 1;
  top: 0;
  transform: translate(0, -20px);
  font-size: .7em;
}

textarea:focus + .placeholder {
  color: var(--on-primary);
}
