:host {
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  transition: opacity .15s, border-bottom .1s;
}

.icon-start {
  width: 20px;
}

:host:last-child .content {
  border-bottom: none;
}

.list-item-arrow {
  margin-left: auto;
}

.content {
  padding: 1rem;
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: 1px solid var(--border-list-item-color);
}

:host.click-enabled:active {
  background-color: var(--button-hover-color);
  opacity: .6;
}

@media (hover: hover) {
  :host.click-enabled:hover {
    background-color: var(--button-hover-color);
  }
}
