:host {
  width: 100%;
  min-width: 100px;
  max-width: var(--max-input-width);
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

:host.flex {
  flex: 1;
}

:host.focused {
  border: 1px solid var(--primary);
}

i {
  margin-left: 1rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

input {
  width: calc(100% - 2rem);
  height: 2rem;
  padding-inline: 1rem;
  padding-top: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1em;
  font-weight: 400;
}

.placeholder {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
  color: var(--text-faded);
  font-size: .8em;
  transition: all .2s;
  pointer-events: none;
}

input:focus + .placeholder,
:host.filled .placeholder {
  opacity: 1;
  top: 10px;
  font-size: .7em;
}

input:focus + .placeholder {
  color: var(--primary);
}
