@import url('./styles/page.scss');
@import url('./styles/themes.scss');
@import url('./styles/themes.scss');
@import url('./styles/dialog.scss');
@import url('./app/animations/animations.scss');

html {
  position: relative;
  min-width: 300px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 300;
  overflow: hidden scroll;
  touch-action: manipulation;
}

* {
  font-family: Roboto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-tap-highlight-color: transparent;
  flex-shrink: 0;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #ffffff00;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




/* FONTS */
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url('./assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url('./assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
