:host {
  width: 100%;
  display: block;
  border-top: .55px solid var(--border-list-item-color);
  opacity: 0;
  transition: all .2s;
}

:host:last-child {
  border-bottom: .55px solid var(--border-list-item-color);
}

header {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.more-info {
  width: 100%;
  overflow: hidden;
}

:host.initialized {
  opacity: 1;
}

:host.initialized .more-info,
:host.initialized .arrow {
  transition: all .2s;
}

.arrow {
  transition: all .2s;
  transform: rotate(180deg);
}

:host.compressed .arrow {
  transform: rotate(0deg);
}
